#title {
    background-color: #ff4c68;
}
h1 {
    color: white;
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid {
    padding: 3% 15% 7%;
}
/* Navigation bar */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
.nav-item { 
    padding: 0 18px;
}
/* buttons */
.btn {
    margin: 5% 3% 5% 0;
}
/* images */
.image {
    width: 20%;
    transform: rotate(25deg);
    margin-left: 6%;
    position: absolute;
}
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
h3 {
    font-family: 'Montserrat';
}
p {
    color: gray;
}
.fa-solid {
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-solid:hover {
    color: #ff4c68;
}
/* testimonials */
#testimonials {
    text-align: center;
    background-color:#ef8172;
    color: white;
}
.dog {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-images {
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}
/* picing section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
@media (max-width:1028px){
    .image {
        position: static;
        transform: rotate(0);
        width: 50%;
        margin-right: 8%;
    }
    #title{
        text-align: center;
    }
}
#cta {
    background-color: #ff4c68;
    text-align: center;
    display: block;
}
.love {
    font-family: 'Montserrat';
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}
.div-love {
    padding: 7% 15%;
}
#footer {
    padding: 7% 15%;
    text-align: center;
}
.footer-images {
    color: black;
    margin: 20px 10px;
}
p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}